

  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">WebRecovery</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                aria-label="Toggle navigation"
                [attr.aria-expanded]="isExpanded"
                (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="nav_row" class="navbar-collapse collapse d-sm-inline-flex"
             [ngClass]="{ show: isExpanded }">
          <ul class="navbar-nav flex-grow">
            <li class="nav-item"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-dark"
                 [routerLink]="[actionRouterLinkVar1]"
                 (click)="onActionLink(1)" > {{actionRouterLinkLabelVar1}} </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark"
                [routerLink]="[actionRouterLinkVar2]"
                (click)="onActionLink(2)" > {{actionRouterLinkLabelVar2}} </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark"
              [routerLink]="[actionRouterLinkVar3]"
              (click)="onActionLink(3)" > {{actionRouterLinkLabelVar3}} </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark"
              [routerLink]="[actionRouterLinkVar3]"
              (click)="onActionLink(4)" > {{actionRouterLinkLabelVar4}} </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark"
              [routerLink]="[actionRouterLinkVar3]"
              (click)="onActionLink(5)" > {{actionRouterLinkLabelVar5}} </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark"
              [routerLink]="[actionRouterLinkVar3]"
              (click)="onActionLink(6)" > {{actionRouterLinkLabelVar6}} </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark"
              [routerLink]="[actionRouterLinkVar3]"
              (click)="onActionLink(7)" > {{actionRouterLinkLabelVar7}} </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark"
              [routerLink]="[actionRouterLinkVar3]"
              (click)="onActionLink(8)" > {{actionRouterLinkLabelVar8}} </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item"
                  [routerLinkActive]="['link-active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
              </li>
            </ul>
            <ul class="nav flex-column">
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/auth']">Login</a>
              </li>
            </ul>
            <ul class="nav flex-column">
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/appareils']">Appareils</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>





  </header>
